#s1{
    background-color: darkslategray;
    color: darkslategrey;
}
h1{
    color: white;
    font-size: 300%;
    text-decoration: underline;
    text-align: center;
}

table {
    vertical-align: middle;
    
    background-color: darkgray;
    color: darkgray;
    text-align: center;
    opacity: 1;
    border: 50px ;
    border: blue;
    border-style:solid ;
    width: 575px ;
    height: 575px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: black;
}