body {
    background-color: rgb(14, 13, 13);
    margin: 0;
    cursor: default;
}
.terep {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 300%;
    text-decoration: underline;
    text-align: center;
    user-select: none;
}

#s2, #s4, #s6, #s8 {
    background-color: whitesmoke;
    color: whitesmoke;
}

#s1, #s3, #s5, #s7, #s9 {
    background-color: rgba(30, 34, 57);
    color: rgb(30, 34, 57);
}

table {
    border: 5px solid blue;
    width: 575px;
    height: 575px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15cm;
    cursor: crosshair;
    user-select: none;
}
#X, #O{
    display: none;
    font-size: 750%;
    text-align: center;
    background-color: rgba(0,0,0,0);
    
}

#X {
    color: red;
}

#O {
    color: blue;
}

#s2, #s4, #s6, #s8 {
    background-color: whitesmoke;
    color: whitesmoke;
}

#s1, #s3, #s5, #s7, #s9 {
    background-color: rgba(30, 34, 57);
    color: rgb(30, 34, 57);
}
.info{
display: none;
}