#s1{
    background-color: rgba(0, 11, 71, 0.9);
    color: rgb(0, 11, 71, 0.9);
}
h1{
    color: white;
    font-size: 300%;
    text-decoration: underline;
    text-align: center;
}

table {
    vertical-align: middle;
    background-color: whitesmoke;
    color: whitesmoke;
    border: 50px ;
    border: blue;
    border-style:solid ;
    width: 575px ;
    height: 575px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgb(14, 13, 13);
}